@reference "@/assets/style.css";

/* Base Button */
/* text-white bg-blue-700
    hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300
    dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800*/
.btn {
    @apply inline-flex items-center justify-center text-center font-medium cursor-pointer rounded-lg;
}

/* Outline Modifier */
.btn.btn-outline {
    @apply bg-transparent text-blue-700 border border-blue-700
    hover:bg-blue-700 hover:text-white focus:ring-blue-300
    dark:text-blue-500 dark:border-blue-500 dark:hover:bg-blue-500 dark:hover:text-white dark:focus:ring-blue-800;
}
/* Rounded Modifier */
.btn.btn-rounded {
    @apply rounded-full;
}

/* Disabled state */
.btn.btn-disabled {
    @apply opacity-50 cursor-not-allowed pointer-events-none;
}

.btn.btn-disabled:hover,
.btn.btn-disabled:focus,
.btn.btn-disabled:active {
    @apply bg-inherit text-inherit border-inherit ring-0;
}

/* Icon-Only Button */
.btn.btn-icon {
    @apply inline-flex items-center justify-center text-sm p-2.5 text-center;
}

/* Text button styles */
.btn.btn-text {
    @apply bg-transparent shadow-none ring-0;
}

/* Icon Sizing and Alignment */
.btn-local-icon {
    @apply inline-block;
}

/* === Size Variants === */

/* XS */
.btn.btn-xs {
    @apply px-3 py-2 text-xs gap-1;
}
.btn.btn-icon.btn-xs {
    @apply p-1.5 text-xs;
}
.btn-xs .btn-local-icon,
.btn.btn-icon.btn-xs svg {
    @apply w-3 h-3;
}

/* SM */
.btn.btn-sm {
    @apply px-3 py-2 text-sm gap-1.5;
}
.btn.btn-icon.btn-sm {
    @apply p-2 text-sm;
}
.btn-sm .btn-local-icon,
.btn.btn-icon.btn-sm svg {
    @apply w-4 h-4;
}

/* BASE */
.btn.btn-base {
    @apply px-5 py-2.5 text-sm gap-2;
}
.btn.btn-icon.btn-base {
    @apply p-2.5 text-sm;
}
.btn-base .btn-local-icon,
.btn.btn-icon.btn-base svg {
    @apply w-5 h-5;
}

/* LG */
.btn.btn-lg {
    @apply px-5 py-3 text-base gap-2;
}
.btn.btn-icon.btn-lg {
    @apply p-3 text-base;
}
.btn-lg .btn-local-icon,
.btn.btn-icon.btn-lg svg {
    @apply w-5 h-5;
}

/* XL */
.btn.btn-xl {
    @apply px-6 py-3.5 text-base gap-2.5;
}
.btn.btn-icon.btn-xl {
    @apply p-3.5 text-base;
}
.btn-xl .btn-local-icon,
.btn.btn-icon.btn-xl svg {
    @apply w-6 h-6;
}


@utility btn-* {
    background-color: --value(--color-*);
}







