.vue-dynamix .dx-ripple {
    position: absolute;
    transform: scale(0);
    border-radius: 50%;
    opacity: 0.75;
    pointer-events: none;
    z-index: 0;
    animation: dx-ripple-animation 600ms linear;
}

@keyframes dx-ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.vue-dynamix code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 0.875rem; /* text-sm */
    line-height: 1.25rem; /* text-sm line height */
    background-color: oklch(0.967 0.003 264.542); /* bg-gray-100 */
    padding: 0.125rem 0.25rem;
    border-radius: 0.375rem; /* rounded (using radius-md as default for .rounded) */
}

.dark .vue-dynamix code {
    background-color: oklch(68.318% 0.04325 220.25); /* bg-neutral-400 (dark theme) */
    color: #fff; /* text-white */
}